html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: #e2a768; /* Kahverengi metin rengi */
	background: #281304;
}

a {
	color: #ed8540;
	text-decoration: none;
    font-size: 1.2rem;
}

* {
	box-sizing: border-box;
}

html {
	color-scheme: dark;
}
